extends ./layout/default.jade

block content
    div.container
        div.row
            div.col-xs-12
                table.table
                    thead
                        tr
                            th รหัสนักศึกษา
                            th จำนวนครั้งที่ถาม
                            th จำนวนครั้งที่ตอบ
                    tbody
    script(src='/javascript/result.js')